extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Se connecter
  .offset-md-3.col-md-6.pl-2.text-center.pt-4.pb-4.mb-4
    h3 
      b Connectez-vous pour accéder à votre espace recruteur
  form(method='POST')
    .form-group
      .offset-md-3.col-md-6.pb-4
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
         i.fab.fa-google-plus-g.fa-xs
         | Sign in with Google
