.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-primary  
  .container
    a.navbar-brand(href='/')
      i.fab.fa-autoprefixer
      | AppRecruteurs
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      if !user
        ul.nav.navbar-nav
          li.nav-item(class=(title === 'Accueil') ? 'active' : undefined)
            a.nav-link(href='/') Accueil
          li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
            a.nav-link(href='/contact') Contact
        ul.nav.navbar-nav.ml-auto
          li.nav-item(class=(title === 'Se connecter') ? 'active' : undefined)
            a.nav-link(href='/login') Se connecter
      else
        ul.nav.navbar-nav
          li.nav-item(class=(title === 'Mes candidats') ? 'active' : undefined)
            a.nav-link(href='/recruiter/mycandidates') Mes candidats
          li.nav-item(class=(title === 'Ajouter un candidat') ? 'active' : undefined)
            a.nav-link(href='/recruiter/addcandidate') Ajouter un candidat
        ul.nav.navbar-nav.ml-auto
          li.nav-item(class=(title === 'Se déconnecter') ? 'active' : undefined)
            a.nav-link(href='/logout') Se déconnecter
