extends layout

block content
  h1 
    b AppRecruteurs
  p.lead L'application pensée par les recruteurs, pour les recruteurs.
  hr
  
  .carousel.slide(id="carouselExampleControls",data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
      li.active(data-target="#carouselExampleIndicators" data-slide-to="1")
      li.active(data-target="#carouselExampleIndicators" data-slide-to="2")
    .carousel-inner
      .carousel-item.active
        img.img-fluid(src="/images/work.jpeg")
      .carousel-item
        img.img-fluid(src="/images/microsoft.jpeg")
      .carousel-item
        img.img-fluid(src="/images/recrut.jpeg")
    a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Précédent
    a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Suivant
  hr
  
  .jumbotron
    h1.display-4 Stratégie innovante
    p.lead AppRecruteurs est la 1ère plateforme de recrutement en France !
    hr.my-4
    p Découvrez les nouvelles méthodes innovantes utilisées par AppRecruteurs, pour faire du recrutement un jeu d'enfants.
    p.lead
      a.btn.btn-primary.btn-lg(href="#") En savoir plus
  //.row
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
