extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Ajouter un candidat
  
  .offset-md-2.col-md-9.pl-2.text-center.pt-4.pb-4.mb-4
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label(class='col-md-2 col-form-label font-weight-bold', for='name') Nom
        .col-md-8
          input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus, required)
      .form-group.row
        label(class='col-md-2 col-form-label font-weight-bold', for='firstname') Prénom
        .col-md-8
          input.form-control(type='text', name='firstname', id='firstname', autocomplete='firstname', required)
      .form-group.row
        label(class='col-md-2 col-form-label font-weight-bold', for='job') Job recherché
        .col-md-8
          select(multiple class="form-control" id="job")
            option 1 
            option 2  
      .form-group
        .offset-md-2.col-md-8.p-1
          button.btn.btn-primary(type='submit')
            i.fa.fa-plus.fa-sm
            | Ajouter
